In [2]:
import pandas as pd

In [3]:
movies = ['movie1','movie2','movie3']
users = [1,2,3]
rating = [5,2,1]

In [4]:
A = pd.DataFrame()

In [6]:
A['user'] = users
A['movie'] = movies
A['rating'] = rating

In [7]:
A

   user   movie  rating
0     1  movie1       5
1     2  movie2       2
2     3  movie3       1

In [12]:
new = A.pivot_table(index = 'user',columns='movie',values = 'rating')

In [15]:
new['movie1']

user
1    5.0
2    NaN
3    NaN
Name: movie1, dtype: float64